<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <div class="entries content">
    <h2 class="entries-title">All Entries</h2>
    <% if (entries.length > 0) {
      entries.forEach(entry => { %>
        <h3 class="entry-title"><%= entry.title %></h3>
        <p class="entry-body"><%= entry.body %></p>
    <% })} %>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>
</html>